<h1>Detalhe Emprego</h1>

Title: <%= @job.title %>
Category: <%= @job.category %>
Company: <%= @job.company %>
Description: <%= @job.description %>
Location: <%= @job.location %>

<%= link_to 'Voltar', root_path %>
